<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtworks.ketsu.infrastructure.mybatis.mappers.ProductMapper">
    <insert id="createProduct" keyProperty="info.id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO products (name, description, price)
        VALUES (#{info.name}, #{info.description}, #{info.price})
    </insert>

    <select id="find_product_by_productid" resultMap="records.product">
        SELECT *
        FROM products P
        WHERE P.id = #{id}
    </select>
    <select id="find_all_products" resultMap="records.product">
        SELECT *
        FROM products P
    </select>
</mapper>
